<main class="container ">

<div class="element">
<section>
    <h3>Nos Kebabs</h3>

    <div class="cards-container">

    <div  *ngFor="let food of foods" class="card card-inactive me-4">
        <a routerLink="/food/{{food.id}}">
        <div class="card-content">
            <div>
              <h6> {{food.name}} </h6>
            </div>
            <div class="card-description">
               {{food.description}}
            </div>
            <div>
            <span class="card-price">
                {{ food.price }} €
            </span>
            </div>
        </div>
        </a>
            <div class="card-img">
                <img [src]="food.imageUrl" [alt]="food.name" >
            </div>
        </div>

    </div>
</section>
</div>
</main>
