<div class="container">
    <div *ngIf="cartItems.length === 0;" class="text-center my-5">
      <h4>Your Cart Is Empty</h4>
      <button class="btn btn-primary btn-lg mt-3" routerLink="/">Retour a l'accueil</button>
    </div>
  
    <ng-container *ngIf="cartItems.length !== 0">
      <div class="row">
        <div class="col my-4">
          <table class="table">
            <thead class="table-dark">
              <tr class="">
                <th></th>
                <th>Titre</th>
                <th>Prix</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cartItem of cartItems; let i = index">
                <td class="d-flex align-items-center justify-content-around">
                  <img src="" alt="{{cartItem.title}}" height="60" class="order-1">
                  <span class="text-danger" style="cursor: pointer;">
                    <i class="fa fa-trash" (click)="removeFromCart(i)"></i>
                  </span>
                </td>
                <td><p>{{cartItem.title}}</p></td>
                <td>
                  <p>{{cartItem.price }} €</p>
                </td>
             
              </tr>
              <tr class="border-0">
                <td style="border: none;"></td>
                <td>TOTAL</td>
                <td>{{ cartTotal }}  €</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="col-md-12 d-flex mb-5">
          <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
            <a routerLink="/checkout" class="btn btn-danger btn-sm order-1">Paiement</a>
            <a routerLink="/" class="btn btn-success btn-sm order-0">Retour</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  